<!-- 404 Template -->
<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"tvs-main"} -->
<main class="wp-block-group alignfull tvs-main">
	<!-- wp:group {"className":"tvs-container tvs-stack"} -->
	<div class="wp-block-group tvs-container tvs-stack">
		<!-- wp:heading {"level":1} --> <h1>Fant ikke siden</h1> <!-- /wp:heading -->
		<!-- wp:paragraph {"className":"tvs-text-tertiary"} -->
		<p class="tvs-text-tertiary">Siden du leter etter finnes ikke.</p>
		<!-- /wp:paragraph -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
