<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:heading {"level":1} --> <h1>Norway Virtual Sports</h1> <!-- /wp:heading -->
  <!-- Hint: legg inn din grid-blokk når den er klar -->
  <!-- wp:paragraph --> <p>Velkommen! Dette er en minimal forside som bekrefter at temaet rendrer.</p> <!-- /wp:paragraph -->
   	<!-- wp:paragraph {"align":"center"} -->
	<p class="has-text-align-center">Choose a scenic route and start your virtual workout</p>
	<!-- /wp:paragraph -->

	<!-- wp:tvs/routes-grid /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->