<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"tvs-main"} -->
<main class="wp-block-group alignfull tvs-main">
	<!-- wp:group {"className":"tvs-container tvs-stack"} -->
	<div class="wp-block-group tvs-container tvs-stack">
		<!-- wp:heading {"level":1} --> <h1>User profile</h1> <!-- /wp:heading -->

    	<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->
    
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
